<div class="blur">
  <div class="modal">
    <header class="title">
      <button class="close-modal" routerLink="">
        <img src="../../assets/close-icon.svg" alt="" />
      </button>
      Title
    </header>

    <div class="buttons">
      <button class="update">
        <img src="../../assets/update-icon.svg" alt="update-icon" />
      </button>
      <button class="delete">
        <img src="../../assets/delete-icon.svg" alt="update-icon" />
      </button>
    </div>
  </div>
</div>
